@mixin text-smooth() {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &:-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}

@mixin arrow-up($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
}

@mixin arrow-down($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}

@mixin arrow-right($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
}

@mixin arrow-left($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent; 
	border-right:$size solid $color;
}

//Prefixes definition
$webkit:true;
$o:true;
$moz:true;
$w3:true;
$ms:true;

//Gradient Mixin
@mixin gradient($mode,$direction,$from,$to,$oldDirection:null){

	@if $webkit == true {
	    @if($oldDirection != null){
	        background-image: -webkit-gradient($mode, #{$oldDirection}, from($from),to($to));
	    }
	    background-image: -webkit-#{$mode}-gradient($direction, $from, $to);
	}
	@if $moz == true {
	    background-image: -moz-#{$mode}-gradient($direction, $from, $to);
	}
	@if $o == true {
	    background-image: -o-#{$mode}-gradient($direction, $from, $to);
	}
	@if $ms == true {
	    background-image: -ms-#{$mode}-gradient($direction, $from, $to);
	}
	@if $w3 == true {
	    background-image: #{$mode}-gradient($direction, $from, $to);
}
}